@import "@/app/styles/variables";

.container {
  max-height: 80px;
  width: 100%;
  position: fixed;
  padding: 14px 30px 14px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  box-sizing: border-box;
  border-bottom: 1px solid $strokesSecondaryColor;
}

.brand {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.brandText {
  max-width: 225px;
  color: $txtColor;
}


.userInfoContent {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 20px;
}

.userName {
  color: $txtColor;
}

@media (max-width: 600px) {
  .brandText {
    display: none;
  }
}
