.wrapper {
  background: rgba(0, 0, 0, 0.3);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100vw;
  height: 100vh;

  overflow: hidden;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  &.modal-enter {
    opacity: 0;
  }

  &.modal-enter-active {
    opacity: 1;
    transition: opacity 200ms;
  }

  &.modal-exit {
    opacity: 1;
  }

  &.modal-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }

  z-index: 50;
}

.modalBody {
  display: flex;
  justify-content: center;

  div:first-child {
    &::-webkit-scrollbar-thumb {
      background-color: var(--primary-default);
      border-radius: 6px;
    }

    &::-webkit-scrollbar {
      width: 9px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 15px;
      margin: 9px;
      box-shadow: inset 7px 10px 12px #f0f0f0;
    }
  }
}

@media (max-width: 600px) {
  .wrapper {
    top: 80px;
    justify-content: flex-start;
  }
  .modalBody {
    width: 100%;
  }
}
